<div>      @if (hoveredPokemon()) {
      <div class="pokemon-preview">
        <app-pokemon-card [cardPokemon]="hoveredPokemon()" />
      </div>
    }
<div class="dialog-header">
  <h4 mat-dialog-title>
    <span class="type-chip type-{{ data.type }}">{{ data.type }}</span>
    Pokémon
  </h4>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
    
  </button>
</div>

<mat-dialog-content>
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Filter</mat-label>
    <input matInput [(ngModel)]="searchTerm" />
  </mat-form-field>

  <div class="pokemon-list">
    @for (name of filteredPokemon; track name) {
      <button class="pokemon-name" (mouseover)="showPokeCard(name)" >
      <span >{{ name }}</span>
    </button>}
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Close</button>
</mat-dialog-actions>

</div>