/* Layout */

.app-shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* Header */

.app-header { /* contains .app-title and .theme-toggle */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
  border-bottom: none;
}

.app-header-title {
  font-size: 1.7rem;
  font-weight: 600;
}

.app-header-theme-toggle { /* Contains .app-header button and .theme-label */
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.theme-toggle-button { 
  color: var(--mat-sys-on-primary);
}

.theme-toggle-label {
  font-size: 0.9rem;
}
