
:host {
  display: block;
  height: 100%;
}

mat-card {
  height: 100%;
}

.pokemon-card {
  min-height: 120px;
}

.slot-filled {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem;
  flex-direction: column;

}

.slot-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  opacity: 50%;
}

.empty-slot-placeholder{
  width: 80px;
  height: 80px;
  opacity: 50%;
}

.pokemon-name {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.1rem;
  margin: 0;

}

.slot-profile {
width: 100%;
align-items: stretch;
justify-content: center;
margin-top: 0.25rem;
}

.profile-label {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 0.25rem;
  opacity: 0.6;
  text-align: center;
  margin: 0;
}

.type-chips {
  display: flex;
  gap: 0.4rem;
  flex-wrap: wrap;
  justify-content: center;
}

.remove-pokemon-button {
  display: flex;
justify-content: flex-start;
}
