.page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
  flex: 1; /* this is what made the grid take up the whole space */
}

.content {
  display: flex;
  gap: 2rem;
  align-items: top;
}

.filter-bar {
  display: flex;
  align-items: top;
  justify-content:center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.game-select {
  width: 17rem;
  height: 3rem;
}